*{
  /* background: #283048;
  background: -webkit-linear-gradient(90deg, #859398 40%, #283048) repeat; */
  background: linear-gradient(200deg, #89a0a9 30%, #3a7392);
  background-repeat: no-repeat;
  background-attachment: fixed;
} 